.btn {
  border-radius: 3px;
  text-decoration: none;
  padding: .4rem 2rem;
  color: $color-text-white;
  display: block;
  text-align: center;

  &--black {
    background-color: $color-black;
  }

  &--orange {
    background-color: $color-cta-orange; 
  }

  &--red {
    background-color: $color-cta-red;
  }

  &--create {
    display: inline-block;
    padding: .8rem 3rem;
  }

  &--large {
    max-width: 45rem;
    font-size: 1.9rem;
    padding: 1rem 0;
    margin: 0 auto 1rem;
  }

  &--form {
    margin: 0 auto;
  }
}