<div class="header">
  <div class="header__content">
    <div class="header__logo">
      <span class="header__logo--the">The</span>
      <span class="header__logo--lapshop">Lapshop</span>
    </div>

    <div class="header__signin"><a href="/">Sign in</a></div>
  </div>
</div>