<div class="header">
  <div class="header__content">
    <div class="header__logo">
      <span class="header__logo--the">The</span>
      <span class="header__logo--lapshop">Lapshop</span>
    </div>

  <% if current_user %>
    <div class="header__signin"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
  <% else %>
    <div class="header__signin"><%= link_to "Sign up", new_user_registration_path %></div>
    <div class="header__signin"><%= link_to "Sign in", new_user_session_path %></div>
  <% end %>
    
  </div>
</div>